*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.contenedorc {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 90px;
}
.contenedorf {
    width: 100%;
    max-width: 1240px;
    margin: 30px auto;
    padding: 0 10px;
    
}
.contenedorc h1{
    text-align: center;
    font-size: 75px;
    color: #53B8DF;
    margin: 0;
    font-family: 'Fredoka One', cursive;
    padding: 10px;
}
.contenedorc h2{
    font-size: 18px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 10px;
    color: #7D929A;
}
form{
    width: 100%;
    max-width: 432px;
    min-height: 519px;
    margin: 0 auto;
    background: linear-gradient(0deg, #53B8DF, #60EFDB);
    padding: 23px 61px 53px 61px;
    border-radius: 12px;
}
input, textarea{
    width: 100%;
    margin-top: 30px;
    padding: 15px 20px;
    border-radius: 6px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #7D929A;
    outline: #EDA40D;
}
input:focus{
    border: solid 2px #EDA40D;
}
textarea:focus{
    border: solid 2px #EDA40D;
}
#boton{
    background: #EDA40D;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: all 1s;
    width: 100%;
}
#boton:hover{
    background: #DE36A0;
}
textarea{
    min-height: 165px;
    max-height: 300px;
    max-width: 100%;
    min-width: 100%;
}
footer{
    width: 100%;
    background: #53B8DF;
    margin: 0;
}
footer p{
    padding: 40px 0;
    margin: 0;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
.imagenf{
    background-image: url(imgcss/fondocontacto2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.letra:hover{
    background: #DE36A0;
}
.imagenoculto{
    display: none;
    width: 100%;
    max-width: 420px;
    height: 167px;
    margin: 0 auto;
}
.imgr{
    width: 100%;
}


@media only screen and (max-width:414px){
    .imagenoculto{
        display: block;
        height: 167px;
    }
    .contenedorc h1{
        font-size: 65px;
    }
    .contenedorc h2{
        font-size: 16px;
    }
    .contenedorc{
        padding: 10px 20px;
    }
    form{
        padding: 23px 30px 53px 30px;
    }
}
