*{
    box-sizing: border-box;
}
body{
    margin:0;
}
.container{
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
}

/*Menu*/
.header{
    background: linear-gradient(45deg, #79CEED, #60EFDB);
    color: white;
    padding: 9px 0;
    
    position: fixed;
    left: 0;
    top:0;
    right: 0;
    z-index: 1;
    /*otra forma para exterder el menu es width: 100%; pero me quedare con right:0; */
}
.header a{
    color: white;
    text-decoration: none;
}
.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    letter-spacing: 15px;
    font-size: 1.2em;
}
.menu-icon{
    display: none;
}
.navegation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
}
.navegation ul li{
    display: inline-block;
}
.navegation ul li a{
    display: block;
    /*padding: 0.5rem 1rem;*/
    padding: 0.9rem 1.5rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}
.navegation ul li a:hover{
    background: #EDA40D;
}
h3{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 18px;
    margin:0;
    padding: 0;
}

/* Menu resposive */
@media only screen and (max-width:995px){
.menu-icon{
    display: block;
    cursor: pointer;
    /*padding: 0.5rem 1rem;*/
    padding: 1.0rem 1rem;
    
}
.navegation{
        width: 100%;
        margin-top: 0rem;
    }
.navegation ul{
        display:none;
    }
.navegation ul.show{
        display:block;
    }
.navegation ul li{
    display: block;
}
.navegation ul li a{
    display: block;
    padding: 0.6rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
   
}
.navegation ul li a:hover{
    background: #EDA40D;
}
}

/*Iconos*/
.fa-user-circle, .fa-calendar-alt, .fa-bars{
    color: white;
    font-size: 26px;
}

